{% extends "base.html" %}

{% block Javascript %}


{% end %}


	
{% block content %}

Rules of the game: We'll present you a number of films from your chosen actor, each with a little bit of information. You need to guess what percentage of film reviews on Rottentomatoes.com are positive for this film. Every percentage point you are above or below the actual score, you recieve a penalty point. At the end of the game, the one with the least amount of penalties, wins.

<div id="game_content">





</div>

{% end %}


